:root {
  color-scheme: light dark;
}

html body {
  font-family: monospace;
  background-color: var(--background-color); 
  text-color: var(--text-color);
  color: var(--color);
}

.tlink{
  color: #4DA85B;
}

p{
  font-size: 20px;
}

.blog-post-title{
  color: green;
}

.bg-custom { 
    background-color: var(--background-color); 
} 

.container-md{
  padding:2rem;
  backgorund-color:green;
}

.row{
  padding:1rem;
}

.col-md-4{
  text-align:right;
}

.intro {
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    background: var(--article-background-color);
    display:inline-block;
    text-color: var(--text-color)
}

dark-mode-toggle {
  --dark-mode-toggle-dark-icon: url("/assets/img/light.svg");
  --dark-mode-toggle-light-icon: url("/assets/img/dark.svg");
}