html body {
  font-family: monospace;
  color: rgb(0,0,0,1);
  background-image:url("https://media.giphy.com/media/LrY1e5IDFLc1XtDKZf/giphy.gif")
}

.tlink{
  color: #4DA85B;
}

p{
  font-size: 20px;
}

em{
  font-size: 20px;
  font-family: monospace;
}

.container-fluid, .blog-post-title{
  color: green;
  text-color: #4DA85B;

}

.bg-custom { 
    background-color: rgba(0,0,0,0.6); 
} 

.container-md{
  padding:2rem;
  backgorund-color:green;
}

.row{
  padding:1rem;
}

.col-md-4{
  text-align:right;
}

.intro {
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid;
    padding: 20px;
    background-color:rgba(255,255,255,1);
    display:inline-block;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(255,255,255,0.6);
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 60px;
    background-color: black;
    padding: 1px;
    color:#4DA85B;
    font-size:20px;
}

.container {
    padding: 1px;
    text-color:white;
    text-align: center;
}

