html body {
  font-family: monospace;
  text-color: green;
  color: black;
  background-image:url("https://media.giphy.com/media/LrY1e5IDFLc1XtDKZf/giphy.gif")
}

.tlink{
  color: green;
}

p{
  font-size: 20px;
}

.container-fluid, .blog-post-title{
  color: green;
  text-color: green;

}

.bg-custom { 
    background-color: rgba(0,0,0,0.6); 
} 

.container-md{
  padding:2rem;
  backgorund-color:green;
}

.row{
  padding:1rem;
}


.musingsList {
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    background-color:rgba(255,255,255,0.8);
    display:inline-block;
    text-color: var(--text-color)
}

.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(255,255,255,0.6);
}

.col-md-12{
   background-color: rgba(255,255,255,0.9);
}

.list{
  color:black;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 








