html body {
	font-family: monospace;	
	background-color: rgb(0,0,0,1); 
  text-color: white;
  color: #ececec;
  filter: brightness(0.7);
}

.tlink{
  color: #4DA85B;
}

p{
	font-size: 20px;
}

.blog-post-title{
	color: #4DA85B;
}

.bg-custom { 
    background-color: black; 
} 

.container-md{
  padding:2rem;
  backgorund-color:#4DA85B;
}

.row{
  padding:1rem;
}

.col-md-4{
  text-align:right;
}

dark-mode-toggle {
  --dark-mode-toggle-dark-icon: url("/assets/img/light.svg");
  --dark-mode-toggle-light-icon: url("/assets/img/dark.svg");
}