html body {
  font-family: monospace;
  color: black;
  background-image:url("https://media.giphy.com/media/LrY1e5IDFLc1XtDKZf/giphy.gif");
}

.tlink{
  color: #4DA85B;
}

p{
  font-size: 20px;
}

.container-fluid, .blog-post-title{
  color: #4DA85B;
  text-color: #4DA85B;

}

.bg-custom { 
    background-color: rgba(0,0,0,0.6); 
} 

.container-md{
  padding:2rem;
}

.row{
  padding:1rem;
}

.musingsList {
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    background-color:rgba(255,255,255,0.8);
    display:inline-block;
    text-color: var(--text-color);
}

.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(255,255,255,0.6);
}

.col-md-12{
   background-color: rgba(255,255,255,0.9);
}

.list{
  color:black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 60px;
    background-color: black;
    padding: 1px;
    font-size:20px;
}

.container {
    padding: 1px;
    text-color:white;
    text-align: center;
}







