html body {
	font-family: monospace;	
	background-color:#242933;
  color:white;
}

.tlink{
  color: #4DA85B;
}

p{
	font-size: 20px;
}

.blog-post-title{
	color: #4DA85B;
}

.bg-custom { 
    background-color:  #2E3440; 
} 

.container-md{
  padding:2rem;
  backgorund-color:green;
}

.row{
  padding:1rem;
}

.col-md-4{
  text-align:right;
}

dark-mode-toggle {
  --dark-mode-toggle-dark-icon: url("/assets/img/light.svg");
  --dark-mode-toggle-light-icon: url("/assets/img/dark.svg");
}