<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{title}} </title>
  <link rel="icon" href="{{'/assets/img/logo.png'}}" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{'/css/index.css' | url}} "> </head>

<body>
  <div id="full_page">
    <!-- NavBar -->
    <div class="container-md">
      <div class="row">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light bg-custom">
            <a class="navbar-brand" href="{{'/' | url}}">
              <h4 class="tlink">ABSURD-MUSINGS</h4></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{'/musingsList' | url}}">
                    <h4 class="tlink">Musings</h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://ashikpoovanna.carrd.co/">
                    <h4 class="tlink">WhoamI?</h4> </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <article class="intro">
            <br> {{content | safe}} </article>
        </div>
      </div>
    </div>
  </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright {{currentYear}}, Ashik Poovanna</small></span>
      </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>