<!DOCTYPE html>
<html lang="en">

<head>
	<title> {{title}} </title>
	<link rel="icon" href="{{'/assets/img/logo.png'}}" type="image/x-icon">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{'/css/musings.css' | url}} "> </head>

<body>
	<div id="full_page">
		<!-- NavBar -->
		<div class="container-md">
			<div class="row">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg navbar-light bg-custom">
						<a class="navbar-brand" href="{{'/' | url}}">
							<h4 class="tlink">ABSURD-MUSINGS</h4></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="nav navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="{{'/poetry' | url}}" style="color: #4DA85B;">
										<h4>Poetry</h4></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="https://ashikpoovanna.carrd.co/" style="color: #4DA85B;">
										<h4>WhoamI?</h4> </a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<article class="intro">
						<h1 class="blog-post-title" data-tags="note"> {{pageTitle}}</h1>
						<br> {{content | safe}} </article>
				</div>
			</div>
		</div>
	</div>
	<div id="disqus_thread" class="ml-5 mr-5 "></div>
	<script>
	var disqus_config = function() {
		this.page.url = "{{site.rootUrl}}{{page.url}}";
		this.page.identifier = "{{page.fileSlug}}";
	};
	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document,
			s = d.createElement('script');
		s.src = 'https://https-absurd-musings-netlify-app.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>

</html>