<!DOCTYPE html>
<html lang="en">
<head>
  <title> {{title}} </title>
  <link rel = "icon" href =  "{{'/assets/img/logo.png'}}"  type = "image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{{'/css/poetry.css' | url}} ">
  <link rel="stylesheet" type="text/css" href="{{'/css/light.css' | url}} "media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
  <link rel="stylesheet" type="text/css" href="{{'/css/dark.css' | url}} " media="(prefers-color-scheme: dark)">

  <script type="module" src="https://googlechromelabs.github.io/dark-mode-toggle/src/dark-mode-toggle.mjs"></script>
</head>

<body>

<div id="full_page">
<!-- NavBar -->
<div class = "container-md">
    <div class="row">
    <div class="container-fluid"> 
      <nav class="navbar navbar-expand-lg navbar-light bg-custom" >
          <a class="navbar-brand" href="{{'/' | url}}" style="color: #4DA85B;">
            <img src="{{'/assets/img/logo.png'}}" width="50" height="50" alt="">
          </a>
          <dark-mode-toggle remember=""></dark-mode-toggle>
          <script>    
            const darkModeToggle = document.querySelector('dark-mode-toggle');
            const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');              
            darkModeMediaQuery.addListener((e) => {
            if (e.matches) {
              darkModeToggle.mode = 'dark';
            } else {
              darkModeToggle.mode = 'light';
            }
            });
          </script>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{'/poetry' | url}}" style="color: #4DA85B;"> <h4>Poetry</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://ashikpoovanna.carrd.co/" style="color: #4DA85B;"> 
                  <h4>WhoamI?</h4>
                </a>
              </li> 
           </ul>
          </div>
      </nav>
   </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1 class="blog-post-title" data-tags="note"> {{pageTitle}}</h1>
      <article >
          {{content | safe}}
      </article>
    </div>

    <div class="col-md-4">
        <h3 class="mt-3">Other Musings</h3>
          <ul class="list-unstyled">
            {%- for musing in collections.musings -%}
              <li class="list"><a href="{{musing.url}}" style="color: #4DA85B;">{{musing.data.pageTitle}}</a></li>
            {%- endfor -%}
          </ul>
    </div>
  </div>
</div>  

</div>
  


 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>